{{#extends 'base'}}

{{#block "content"}}
    <h1>About Us</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque fugit id amet iusto qui velit rerum obcaecati?
        Magnam dolorum repellendus sunt? Exercitationem doloribus recusandae obcaecati quos cumque, dolor qui? Sit.
    </p>
{{/block}}
{{/extends}}
   