{{#extends 'base'}}

{{#block "content"}}
<form method="POST">
    <div>
        <label>Weight</label>
        <input type="text" value="" name="weight" class="form-control"/>
    </div>
    <div>
        <label>Height</label>
        <input type="text" value="" name="height" class="form-control"/>
    </div>
    <input type="submit" class="btn btn-primary my-3"/>
</form>
{{/block}}

{{/extends}}