{{#extends 'base'}}

{{#block "content"}}
<h1>Contact Us</h1>
<form method="POST">
    <div>
        <label>Email</label>
        <input type="text" class="form-control"/>
    </div>
    <div>
        <label>Comments</label>
        <textarea class="form-control"></textarea>
    </div>
    <input type="submit" class="btn btn-primary my-3"/>

</form>
{{/block}}

{{/extends}}