{{#extends 'base'}}

{{#block 'content'}}
<h1>Create New Food Sighting</h1>
<form method="POST">
    <div>
        <label>Description</label>
        <input type="text" name="description" class="form-control"/>
    </div>
    <div>
        <label>Food</label>
        <input type="text" 
               name="food"
               placeholder="Enter the food items seperated by commas"
               class="form-control"/>
    </div>
    <div>
        <label>Date Time</label>
        <input type="datetime-local" name="datetime" class="form-control">
    </div>
    <input type="submit" class="btn btn-primary my-3"/>


</form>

{{/block}}

{{/extends}}