{{#extends 'base'}}

{{#block "content"}}
<h1>Delete Food Sighting</h1>
<form method="POST">
    <div class="alert alert-danger">
        Are you sure you want to delete the following food sighting:
        {{sighting.description}}
    </div>
    <div>
        <input type="submit" class="btn btn-danger" value="Confirm">
        <a href="/" class="btn btn-success">Cancel</a>
    </div>
</form>

{{/block}}

{{/extends}}