{{#extends 'base'}}

{{#block "content"}}
<h1>Delete Food Record</h1>
<form method="POST">
    <div class="alert alert-danger">Are you sure you want
         to delete the food record {{foodRecord.foodName}}?
    </div>
    <input type="submit" class="btn btn-danger" value="Delete"/>
    <a href="/" class="btn btn-success">Cancel</a>
</form>

{{/block}}

{{/extends}}