{{#extends 'base'}}

{{#block "content"}}

<h1>Updating note</h1>
<form method="POST">
    <textarea name="content" class="form-control">{{note.content}}</textarea>
    <input type="submit" value="Update Note" class="btn btn-primary my-3"/>
</form>

{{/block}}

{{/extends}}